*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body 
{
    background: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
position: relative;
width: 100%;
max-width: 1000px;
min-height: 1000px;
background:white;
margin: 50px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.container .left_side
{
    position: relative;
    background: burlywood;
    padding: 60px;
}
.container .right_side
{
    position: relative;
    background: white;
    padding: 40px;
}
.profile_Info
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.profile_Info .imgProf
{
    position: relative;
    width: 120px;
    height: 150px;
    border-radius: 60%;
    overflow: hidden;
}
.profile_Info .imgProf img
{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;

}
.container right_side
{
    position: relative;
    background: white;
    padding: 40px;

}
.profile_Info h2
{
    color: white;
    font-size: 1,5cm;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1,4cm;
}
.profile_Info h2 span
{
    font-size: 0,8cm;
    font-weight: 300;   
}
.contact_Info
{
    padding-top: 40px;
}
.title
{
    color: white;
    text-transform:uppercase;
    font-weight: 600px;
    letter-spacing: 1px;
    margin-bottom: 20px;;
}
.contact_Info ul
{
position: relative;
}
.contact_Info ul li{
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
.contact_Info ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: teal;
}
.contact_Info li span
{

}
S CX
/* EDUCATION */
.contact_Info.Education li
{
    margin-bottom: 15px;
}
.contact_Info.Education h5
{
color:teal;  
font-weight: 500;  
}
.contact_Info.Education h4:nth-child(2)
{
color:black;  
font-weight: 500;  
}
.contact_Info.Education h4
{
color:black;  
font-weight: 500;  
}
/* LANGUAGE */
.contact_Info.Language .percent
{
 position: relative;
 width: 100%;
 height: 6px;
 background: black;
 display: block;
 margin-top: 5px;
}
.contact_Info.Language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: cadetblue;
}
/* right side */
.about
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
/* DATAKUNSKAPER */
.about.box .text h4
{
    text-transform: uppercase;
    color: blue;
    font-size: 16px;
}
.about.skills.box
{
 position: relative;
 width: 100%;
 display: grid;
 grid-template-columns: 150px 1fr;
 justify-content: center;
 align-items: center;
 }
.skills.box div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: cadetblue;
}